URxvt.font: xft:monospace:size13
URxvt.scrollBar: false
URxvt.clipboard.autocopy:true

*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

*.color0:       #0a0f14
*.color8:       #10151b

*.color1:       #c33027
*.color9:       #d26939

*.color2:       #26a98b
*.color10:      #081f2d

*.color3:       #edb54b
*.color11:      #245361

*.color4:       #195465
*.color12:      #093748

*.color5:       #4e5165
*.color13:      #888ba5

*.color6:       #33859d
*.color14:      #599caa

*.color7:       #98d1ce
*.color15: #d3ebe9


URxvt.intensityStyles:	false
URxvt.background:       [75]#000000
URxvt.depth:		32
URxvt.font: 		xft:envypn:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	white

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: webview
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	webview
URxvt.matcher.button:	1


